Team Jedward Datathon project!

In [2]:
#import values
import pandas as pd

In [3]:
#importing csv files to dataframes
customers_df = pd.read_csv("the_data\olist_customers_dataset.csv")
geolocation_df = pd.read_csv("the_data\olist_geolocation_dataset.csv")
order_items_df = pd.read_csv("the_data\olist_order_items_dataset.csv")
order_payment_df = pd.read_csv("the_data\olist_order_payments_dataset.csv")
order_reviews_df = pd.read_csv("the_data\olist_order_reviews_dataset.csv")
orders_df = pd.read_csv("the_data\olist_orders_dataset.csv")
products_df = pd.read_csv("the_data\olist_products_dataset.csv")
sellers_df = pd.read_csv("the_data\olist_sellers_dataset.csv")

In [56]:
duplicate_customer_df = pd.DataFrame
duplicate_customer_df = customers_df[customers_df.duplicated(subset=['customer_unique_id'], keep=False)]
duplicate_customer_df = duplicate_customer_df.sort_values(by='customer_unique_id', ascending=False)
duplicate_customer_csv_data = duplicate_customer_df.to_csv('cleaned_data/duplicate_customer_dataset.csv', index = False)
duplicate_customer_df

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
12133,0088395699ea0fcd459bfbef084997db,ffe254cc039740e17dd15a5305035928,37640,extrema,MG
64323,4b231c90751c27521f7ee27ed2dc3b8f,ffe254cc039740e17dd15a5305035928,37640,extrema,MG
75057,1ae563fdfa500d150be6578066d83998,ff922bdd6bafcdf99cb90d7f39cea5b3,17340,barra bonita,SP
27992,bec0bf00ac5bee64ce8ef5283051a70c,ff922bdd6bafcdf99cb90d7f39cea5b3,17340,barra bonita,SP
79859,d064be88116eb8b958727aec4cf56a59,ff922bdd6bafcdf99cb90d7f39cea5b3,17340,barra bonita,SP
...,...,...,...,...,...
72451,49cf243e0d353cd418ca77868e24a670,004b45ec5c64187465168251cd1c9c2f,57055,maceio,AL
20023,1b4a75b3478138e99902678254b260f4,004288347e5e88a27ded2bb23747066c,26220,nova iguacu,RJ
22066,f6efe5d5c7b85e12355f9d5c3db46da2,004288347e5e88a27ded2bb23747066c,26220,nova iguacu,RJ
35608,24b0e2bd287e47d54d193e7bbb51103f,00172711b30d52eea8b313a7f2cced02,45200,jequie,BA
19299,1afe8a9c67eec3516c09a8bdcc539090,00172711b30d52eea8b313a7f2cced02,45200,jequie,BA

In [17]:
geolocation_df = geolocation_df.drop_duplicates(subset=['geolocation_zip_code_prefix'], keep='first')
geolocation_csv_data = geolocation_df.to_csv('cleaned_data/geolocation_dataset_cleaned.csv', index = False)

0

In [20]:
print(order_items_df.isnull().sum())
print(order_items_df.duplicated().sum())

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64
0

In [21]:
print(order_payment_df.isnull().sum())
print(order_payment_df.duplicated().sum())

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64
0

In [23]:
order_reviews_df = order_reviews_df.fillna(0)

print(order_reviews_df.isnull().sum())
print(order_reviews_df.duplicated().sum())

review_id                  0
order_id                   0
review_score               0
review_comment_title       0
review_comment_message     0
review_creation_date       0
review_answer_timestamp    0
dtype: int64
0

In [46]:
orders_df = orders_df.fillna(0)
print(orders_df.isnull().sum())
print(orders_df.duplicated(subset=['order_id']).sum())

order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_carrier_date     0
order_delivered_customer_date    0
order_estimated_delivery_date    0
dtype: int64
0

In [47]:
print(products_df.isnull().sum())
print(products_df.duplicated().sum())

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64
0

(32951, 9)

In [34]:
print(sellers_df.isnull().sum())
print(sellers_df.duplicated(subset=['seller_id']).sum())

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64
0

In [60]:
final_df = pd.merge(duplicate_customer_df, orders_df, on = "customer_id", how = "outer")

#final_df = pd.merge(final_df, order_items_df, on ="order_id", how = "outer")

final_df.dropna()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,0088395699ea0fcd459bfbef084997db,ffe254cc039740e17dd15a5305035928,37640.0,extrema,MG,ebe76afae9242fc70b0b807b78f17adb,delivered,2017-04-02 16:33:30,2017-04-02 16:42:25,2017-04-10 10:14:32,2017-04-20 09:33:20,2017-05-11 00:00:00
1,4b231c90751c27521f7ee27ed2dc3b8f,ffe254cc039740e17dd15a5305035928,37640.0,extrema,MG,39a0e2f723def2e12a51e963006c9242,delivered,2017-04-02 16:33:30,2017-04-02 16:42:23,2017-04-06 10:38:35,2017-04-19 16:13:08,2017-04-28 00:00:00
2,1ae563fdfa500d150be6578066d83998,ff922bdd6bafcdf99cb90d7f39cea5b3,17340.0,barra bonita,SP,fd216c435fda2be27c92920a5e5dba82,delivered,2017-02-22 12:26:42,2017-02-22 13:05:25,2017-02-23 13:26:17,2017-03-08 02:02:59,2017-03-23 00:00:00
3,bec0bf00ac5bee64ce8ef5283051a70c,ff922bdd6bafcdf99cb90d7f39cea5b3,17340.0,barra bonita,SP,6be1646fccbb69d34b22da3b1807d51d,delivered,2017-09-14 14:24:04,2017-09-14 14:39:31,2017-09-14 20:43:36,2017-09-18 20:47:54,2017-10-02 00:00:00
4,d064be88116eb8b958727aec4cf56a59,ff922bdd6bafcdf99cb90d7f39cea5b3,17340.0,barra bonita,SP,5f79e2da24a52e76bc22897df03a7901,delivered,2017-08-23 13:15:29,2017-08-23 13:30:19,2017-09-22 13:45:55,2017-09-25 21:34:47,2017-09-21 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
6337,49cf243e0d353cd418ca77868e24a670,004b45ec5c64187465168251cd1c9c2f,57055.0,maceio,AL,90ae229a4addcfead792e2564554f09c,shipped,2017-09-01 12:11:23,2017-09-05 04:30:20,2017-09-08 19:42:16,0,2017-10-06 00:00:00
6338,1b4a75b3478138e99902678254b260f4,004288347e5e88a27ded2bb23747066c,26220.0,nova iguacu,RJ,a61d617fbe5bd006e40d3a0988fc844b,delivered,2017-07-27 14:13:03,2017-07-27 14:25:14,2017-07-28 17:45:36,2017-08-04 16:26:54,2017-08-18 00:00:00
6339,f6efe5d5c7b85e12355f9d5c3db46da2,004288347e5e88a27ded2bb23747066c,26220.0,nova iguacu,RJ,08204559bebd39e09ee52dcb56d8faa2,delivered,2018-01-14 07:36:54,2018-01-14 07:49:28,2018-01-16 16:39:34,2018-01-19 22:14:14,2018-02-09 00:00:00
6340,24b0e2bd287e47d54d193e7bbb51103f,00172711b30d52eea8b313a7f2cced02,45200.0,jequie,BA,c306eca42d32507b970739b5b6a5a33a,canceled,2018-08-13 09:14:07,0,0,0,2018-09-05 00:00:00
6341,1afe8a9c67eec3516c09a8bdcc539090,00172711b30d52eea8b313a7f2cced02,45200.0,jequie,BA,bb874c45df1a3c97842d52f31efee99a,delivered,2018-07-28 00:23:49,2018-07-28 00:35:19,2018-07-31 15:57:00,2018-08-07 19:28:41,2018-08-22 00:00:00